<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'delivery/css/buttons.css' %}">

    <title>{{ restaurant.name }} - Menu</title>
</head>
<body>
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post" style="position: fixed; min-width: 750px; text-align: right; top: 10px; right: 10px; z-index: 1000;">
        {% csrf_token %}
        Welcome {{ request.user.username }}
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        <a href="{% url 'show_cart_page' %}" class="btn btn-info">Cart({{ cart_item_count }})</a>
        <a href="{% url 'order_history' %}" class="btn btn-warning">My Orders</a>
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    {% endif %}   
    <h1>Menu for {{ restaurant.name }}</h1>
    <h3>Cuisine: {{ restaurant.cuisine }}</h3>
    <img src="{{ restaurant.picture.url }}" alt="{{ restaurant.name }}" width="200">

    <h2>Menu Items</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Veg/Non-Veg</th>
                <th>Action</th>
            </tr>
        </thead>
<tbody>
    {% for item in menu_items %}
    <tr>
        <td>
            {% if item.picture %}
            <img src="{{ item.picture.url }}" alt="{{ item.name }}" width="100">
            {% endif %}
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>
            {% if item.is_veg %}
                Veg
            {% else %}
                Non-Veg
            {% endif %}
        </td> 
        <td>
            <form method="POST" action="{% url 'add_to_cart' item.id %}">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1" style="width: 50px;">
                <button type="submit">Add to cart</button>
            </form>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No menu items yet.</td>
    </tr>
    {% endfor %}
</tbody>
    </table>
        {% include 'delivery/base.html' %}

</body>
</html>